<template>
  <v-container class="pa-0" >
    <v-snackbar v-model="snackbar" :timeout="8000" top color="orange" dark  > {{text}}
      <v-btn color="white" text @click="snackbar = false"> Cerrar </v-btn>
    </v-snackbar>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>
  </v-container>
</template>

<script>
  import {mapActions , mapGetters} from 'vuex'
  const {Base64} = require('js-base64');
  
  import validarErrores  from '@/mixins/validarErrores'

  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';


  export default {

    components:{
      Alerta,
      carga,
    },

    mixins: [ validarErrores ],

    data(){
      return{

        // Alertas
        parametros:{
          dialogError: false,
          mensaje: '',
          color: ''
        },

        respuestaAlerta:false,
        loader: true,
        cargar: false,

        dialog: true,
        
        password: '',
        email:'',

        snackbar: false,
        y: 'top',
        x: null,
        mode: '',
        timeout: 8000,
        text: '',

        show1: false,
        error: '',

        ventana:['Calculador wataje','Cotizador'],
        value:'',

        valid: true,
        rules: {
          required: value => !!value || 'Requerido.',
          min: v => (v && v.length <= 10) || 'Minimo 8 caracteres'
        },

        NombreAsig: '',
        Nomuser: '',
      }
    },

    async created(){
      this.cargar = true
      if(this.$route.params.id != undefined){
        this.$http.get('users/' + Base64.decode(this.$route.params.id)).then(response=>{
          // Verificamos que haya iniciado sesión el usuario
          if(response.body.sesion == 1){
          	// Guardamos los parametros
            this.email    = response.body.email
            this.password = response.body.password
            this.sesion   = response.body.sesion
            // Verificamos el nivel del usuario
            this.ingresar()
          }else{
            window.location = 'http://mikai.mx/intranet/#/' 
          }
        }).catch(error=>{
        	this.validarErrorDirecto( error.body.message )
        })
      }else{
        window.location = 'http://mikai.mx/intranet/#/' 
      }
    },


    methods:{
      ...mapActions('Login',['GetInfoUser']),

      ingresar (){
      	// Cargamos la libreria
        var md5     = require('md5')
        
        // Validamos la sesión, si es uno
        if(this.sesion == 1){
          var usuario = { "email" : this.email, "password": this.password}
        }else{
          // Si no, mandamos otros parameteos encriptados
          var usuario = { "email" : this.email, "password": md5(this.password)}
        }
        // Traemos la información del usuario
        this.GetInfoUser(usuario).then(response => {
          if(response == false){
            return this.validarErrorDirecto( "Verifica que tus datos esten correctos" )
          }else if(response == true){
          	this.cargar = false
            this.$router.push({ name: 'home' })  
          }else{
            this.text  = response; this.snackbar = true 
          }
        }).catch(error =>{
        	this.cargar = false
          console.log(error)
        })
      }
    }
  };


</script>

<style scoped>
  #img{
    border-radius: 20px;
  }
</style>





  