<template>
  <v-app>
    <v-app-bar
      v-if="logeadoAdminArchivos"
      app
      color="grey darken-2"
      dark
    >
      <v-app-bar-nav-icon @click="drawer=!drawer" class="mr-4"></v-app-bar-nav-icon>
      Administración de archivos
      <v-spacer></v-spacer>
      <v-btn text icon  @click="salir"><v-icon>mdi-exit-to-app</v-icon></v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-if="logeadoAdminArchivos"
      v-model="drawer"
      app
      left
      :mini-variant.sync="mini"
    >
      <v-list dense>
        <v-card  width="100%" class="transparent elevation-0 mt-2" align="center">
          <v-img src="https://www.mikai.mx/wp-content/uploads/2019/11/mikai-logo.png"/>
        </v-card>
      </v-list>

      <v-divider></v-divider>

      <v-list-item class="px-2">
        <v-list-item-avatar>
          <v-img
            :src="avatar"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-title>{{getusuarioAdminArchivos.nomuser}}</v-list-item-title>

        <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-list-item>

      <v-list dense>
        <v-list-item
          v-for="(accion, i) in acciones"
          :key="i"
          :to="{name: accion.path}"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ accion.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="accion.nomaccion"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>


    <v-main>
      <v-container fluid class="elevation-0 transparent">
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container> 
    </v-main>
  </v-app>
</template>

<script>
  import $ from 'jquery'
  import { mapGetters, mapActions } from 'vuex'

  $(window).keyup(function(e) {
    // 44 (prt sc) -  91 (windows) - 16 (shift)
    if (e.keyCode == 44 || e.keyCode == 16 || e.keyCode == 91 || e.keyCode == 67 || e.keyCode == 86 || e.keyCode == 17 ) {
      var aux = document.createElement("input"); // Se crea una entrada oculta
      aux.setAttribute("value", "Lo sentimos este contenido pertenece a MIKAI S.A. DE C.V."); // Creo el contenido que copiara el usuario
      document.body.appendChild(aux); // Se lo asigno al portapapeles
      aux.select(); // Destacar el contenido
      document.execCommand("copy"); // Copiar el texto destacado
      document.body.removeChild(aux); // Remover del cuerpo de la pagina 
    }
  });

  export default {
    name: 'App',

    components: {

    },

    data: () => ({
      //
      model: null,
      draw: false,
      drawer: true,
      acciones: [],
      mini: false,
      avatar:''
    }),

    computed:{
      ...mapGetters('Login', ['logeadoAdminArchivos','getusuarioAdminArchivos'])
    },

    created( ){
      this.avatar = "https://ui-avatars.com/api/?background=E50202&color=fff&rounded=true&format=svg&name=" +
      this.getusuarioAdminArchivos.nomuser
      //console.log( this.getusuarioAdminArchivos )
      this.menus( this.getusuarioAdminArchivos.admin )
    },

    methods:{
      ...mapActions('Login',['salirLogin']),

      menus( permisos ){

        switch( permisos ){
          case 'ADMIN':
            this.acciones = [
              { nomaccion: 'Carpetas' , icon:'mdi-folder'         ,  path:'Carpetas'           ,  general: true },
              { nomaccion: 'Accesos'  , icon:'mdi-folder-account' ,  path:'AdministrarAccesos' ,  general: true },
            ]
          break;

          case 'SUPERVISOR':
            this.acciones = [
              { nomaccion: 'Carpetas' , icon:'mdi-folder'         ,  path:'Carpetas'           ,  general: true },
              { nomaccion: 'Accesos'  , icon:'mdi-folder-account' ,  path:'AdministrarAccesos' ,  general: true },
            ]
          break;

          case 'USUARIO':
            this.acciones = [
              { nomaccion: 'Carpetas' , icon:'mdi-folder'         ,  path:'Carpetas'           ,  general: true },
            ]
          break;
        }

      },
      
      salir(){
        location.href = 'https://mikai.mx/intranet/#/home';
      },

    },
  };
</script>
